/*Auxiliary classes*/
.bold{
    font-weight: bold;
}

.gray{
    color: darkgray;
}

/**/

.card{
    max-width: 200px;
    margin: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card__photo{
    margin: 0 auto;
    border-radius: 15px;
    width: 150px ;
    height: 200px;
   
    
}
.card__stats{
    margin-top: 1em;
}
.card__star{
    width: 1rem;
    margin-right: .5em;
}
p{
    margin: 0.5em; 
}

