/*Auxiliary classes*/
.bold{
    font-weight: bold;
}

.gray{
    color: darkgray;
}

/**/

.card{
    position: relative;
    max-width: 200px;
    margin: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card__photo{
    width: 150px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    border-radius: 15px;
   
    
   
    
}
.card__stats{
    margin-top: 1em;
}
.card__star{
    width: 1rem;
    margin-right: .5em;
}
p{
    margin: 0.5em; 
}

.card__badge{
    position: absolute;
   top:1em;
   left: 1.5em;
    background-color: rgba(228, 217, 217, 0.5);
    padding: .5em .6em;
    border-radius: 2px;
    font-size: .7rem;
    font-weight: bold;
    transform: rotate(-40deg);
   
}
@media (min-width:1024px){

    .card__badge{
        left: -.5em;
        top: 1.5em;
    }
}